In [15]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori,association_rules
from pyECLAT import ECLAT

In [2]:
data = pd.read_csv(r"F:\anlas\Python ile Makine Öğrenmesi\GroceryStoreDataSet.csv",header=None)
data2 = data.copy()
data2.columns=["Ürünler"]
data2.head()

                         Ürünler
0             MILK,BREAD,BISCUIT
1  BREAD,MILK,BISCUIT,CORNFLAKES
2            BREAD,TEA,BOURNVITA
3           JAM,MAGGI,BREAD,MILK
4              MAGGI,TEA,BISCUIT

In [3]:
# Encoding for frequency
datas = list(data2["Ürünler"].apply(lambda x:x.split(",")))
te = TransactionEncoder()
tedata = te.fit_transform(datas)

datas = pd.DataFrame(tedata,columns=te.columns_)
datas

,BISCUIT,BOURNVITA,BREAD,COCK,COFFEE,CORNFLAKES,JAM,MAGGI,MILK,SUGER,TEA
0,True,False,True,False,False,False,False,False,True,False,False
1,True,False,True,False,False,True,False,False,True,False,False
2,False,True,True,False,False,False,False,False,False,False,True
3,False,False,True,False,False,False,True,True,True,False,False
4,True,False,False,False,False,False,False,True,False,False,True
5,False,True,True,False,False,False,False,False,False,False,True
6,False,False,False,False,False,True,False,True,False,False,True
7,True,False,True,False,False,False,False,True,False,False,True
8,False,False,True,False,False,False,True,True,False,False,True
9,False,False,True,False,False,False,False,False,True,False,False
10,True,False,False,True,True,True,False,False,False,False,False
11,True,False,False,True,True,True,False,False,False,False,False
12,False,True,False,False,True,False,False,False,False,True,False
13,False,False,True,True,True,False,False,False,False,False,False
14,True,False,True,False,False,False,False,False,False,True,False
15,False,False,False,False,True,True,False,False,False,True,False
16,False,True,True,False,False,False,False,False,False,True,False
17,False,False,True,False,True,False,False,False,False,True,False
18,False,False,True,False,True,False,False,False,False,True,False
19,False,False,False,False,True,True,False,False,True,False,True

In [4]:
df1 = apriori(datas, min_support=0.05,use_colnames=True)
print(df1)

    support                             itemsets
0      0.35                            (BISCUIT)
1      0.20                          (BOURNVITA)
2      0.65                              (BREAD)
3      0.15                               (COCK)
4      0.40                             (COFFEE)
..      ...                                  ...
78     0.05         (BREAD, BISCUIT, MAGGI, TEA)
79     0.10  (COFFEE, BISCUIT, COCK, CORNFLAKES)
80     0.05            (BREAD, MILK, JAM, MAGGI)
81     0.05             (BREAD, JAM, MAGGI, TEA)
82     0.05      (TEA, COFFEE, MILK, CORNFLAKES)

[83 rows x 2 columns]

In [5]:
df2 = association_rules(df1,metric="confidence",min_threshold=0.5,num_itemsets=3)
df2

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(BISCUIT),(BREAD),0.35,0.65,0.20,0.571429,0.879121,1.0,-0.0275,0.816667,-0.174603,0.250000,-0.224490,0.439560
1,(COCK),(BISCUIT),0.15,0.35,0.10,0.666667,1.904762,1.0,0.0475,1.950000,0.558824,0.250000,0.487179,0.476190
2,(CORNFLAKES),(BISCUIT),0.30,0.35,0.15,0.500000,1.428571,1.0,0.0450,1.300000,0.428571,0.300000,0.230769,0.464286
3,(BOURNVITA),(BREAD),0.20,0.65,0.15,0.750000,1.153846,1.0,0.0200,1.400000,0.166667,0.214286,0.285714,0.490385
4,(BOURNVITA),(SUGER),0.20,0.30,0.10,0.500000,1.666667,1.0,0.0400,1.400000,0.500000,0.250000,0.285714,0.416667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,"(TEA, COFFEE)","(MILK, CORNFLAKES)",0.05,0.10,0.05,1.000000,10.000000,1.0,0.0450,inf,0.947368,0.500000,1.000000,0.750000
142,"(TEA, MILK)","(COFFEE, CORNFLAKES)",0.05,0.20,0.05,1.000000,5.000000,1.0,0.0400,inf,0.842105,0.250000,1.000000,0.625000
143,"(TEA, CORNFLAKES)","(COFFEE, MILK)",0.10,0.05,0.05,0.500000,10.000000,1.0,0.0450,1.900000,1.000000,0.500000,0.473684,0.750000
144,"(COFFEE, MILK)","(TEA, CORNFLAKES)",0.05,0.10,0.05,1.000000,10.000000,1.0,0.0450,inf,0.947368,0.500000,1.000000,0.750000
145,"(MILK, CORNFLAKES)","(TEA, COFFEE)",0.10,0.05,0.05,0.500000,10.000000,1.0,0.0450,1.900000,1.000000,0.500000,0.473684,0.750000

In [17]:
# Lets apply Eclat algo on same data set
data3 = data.copy()
data3.columns = ["Ürünler"]
data3.head()

                         Ürünler
0             MILK,BREAD,BISCUIT
1  BREAD,MILK,BISCUIT,CORNFLAKES
2            BREAD,TEA,BOURNVITA
3           JAM,MAGGI,BREAD,MILK
4              MAGGI,TEA,BISCUIT

In [18]:
data3 = list(data3["Ürünler"].apply(lambda x: x.split(",")))
data4 = pd.DataFrame(data3) # in eclat algo. We use transactions 
data4

         0       1           2           3
0     MILK   BREAD     BISCUIT        None
1    BREAD    MILK     BISCUIT  CORNFLAKES
2    BREAD     TEA   BOURNVITA        None
3      JAM   MAGGI       BREAD        MILK
4    MAGGI     TEA     BISCUIT        None
5    BREAD     TEA   BOURNVITA        None
6    MAGGI     TEA  CORNFLAKES        None
7    MAGGI   BREAD         TEA     BISCUIT
8      JAM   MAGGI       BREAD         TEA
9    BREAD    MILK        None        None
10  COFFEE    COCK     BISCUIT  CORNFLAKES
11  COFFEE    COCK     BISCUIT  CORNFLAKES
12  COFFEE   SUGER   BOURNVITA        None
13   BREAD  COFFEE        COCK        None
14   BREAD   SUGER     BISCUIT        None
15  COFFEE   SUGER  CORNFLAKES        None
16   BREAD   SUGER   BOURNVITA        None
17   BREAD  COFFEE       SUGER        None
18   BREAD  COFFEE       SUGER        None
19     TEA    MILK      COFFEE  CORNFLAKES

In [20]:
minürün = 2
minsuppport = 0.2
maxürün = max([len(x) for x in data3])

ECmodel = ECLAT(data4,verbose=True)
a,b = ECmodel.fit(min_support=minsuppport,min_combination=minürün,max_combination=maxürün)
print(b)

100%|██████████| 12/12 [00:00<00:00, 647.24it/s]
100%|██████████| 12/12 [00:00<00:00, 38716.65it/s]
100%|██████████| 12/12 [00:00<00:00, 2185.01it/s]

Combination 2 by 2

36it [00:00, 270.93it/s]

Combination 3 by 3

84it [00:00, 301.63it/s]

Combination 4 by 4

126it [00:00, 326.33it/s]

{'BREAD & SUGER': 0.2, 'BREAD & MILK': 0.2, 'BREAD & BISCUIT': 0.2, 'BREAD & TEA': 0.2, 'SUGER & COFFEE': 0.2, 'COFFEE & CORNFLAKES': 0.2, 'MAGGI & TEA': 0.2}